@use 'colors';
@use 'spacer';
@use 'typography';

@use 'base';

// Komponenta main section about, index.html + layout
.aboutbox{
    display:grid;
    grid-template-columns: 1fr minmax(200px, 500px) 1fr;
    justify-items: center;
    gap: spacer.$spacer;
  
    &__photo-profil{
      grid-column: 2;
      grid-row: 1;
      max-width: 350px;
      border-radius: 5px;
  
    }
  
    &__content{
      grid-column: 2;
      grid-row: 2;
      text-align: center;
    }
  }
  
  .button{
    grid-column: 2;
    grid-row: 3;
  }