@use 'colors';
@use 'spacer';

@use 'base';

// Footer

.footer {
    background-color: colors.$footer;
    color: colors.$light;
    text-align: center;
    padding: spacer.$spacer;
    margin-top: spacer.$spacer*2;
  }