html {
    box-sizing: border-box;
  }
  
  *, ::before, ::after {
    box-sizing: inherit;
  }
/* Sass proměnné */
$background-logo: #8C8044;
$text-logo:#f5f5c6;
$dark: #3D301C;
$light: #F7F8F9;
$contrast: #C27159;
$white: #ffffff;

$spacer: 20px;

$fonthandwrite:'Kalam', cursive;
$fontbody:'Maven Pro', sans-serif;


/* Celý web */
body {
  font-family: $fontbody;
  margin: 0;
  font-size: 16px;
  }

h1,  
h2{
  font-family: $fonthandwrite;
  text-transform: uppercase;
  font-weight: 400;
  margin: $spacer*2 0;
  font-size: 24px;

}

p{
  margin: 0;
}

.wrapper {
 /*  max-width: 1040px; */
  /* padding: $spacer; */
  margin: 0 auto;
  padding-top: $spacer;

  background-color: $light;
  color: $dark;
}


/* Tlačítko */
.button{
  background-color: $background-logo;
  font-style: $fontbody;
  border: 2px solid $dark;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  font-size: 1em;

  &__link{
  text-decoration: none;
  text-align: center;
  color: $light;
  padding: $spacer/2;
  }

}

/* Menu */
.menu{
  background-color: $light;
  font-family: $fonthandwrite;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;

  &__toggler {
    padding: $spacer;
    cursor: pointer;
  }

  &__checkbox{
    position: absolute;
    left: -9999px;
    &:checked ~ .menu__list {
      display: block;
    }
    
  }
  
  
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;

  }

  &__item {
    margin: 0;
    padding: $spacer;
    display: block;
    text-align: center;
  
    &:hover{
    text-decoration-line: underline;
    }
  }

  &__link {
    text-decoration: none;
    display: block;
    color: $dark;
  }


  &__contactbox{
    display:flex;
    gap:$spacer;
    margin: $spacer;
    align-items: center;
    justify-content: right;
  
    &__icon{
      flex:1 0 auto;
    }
    &__contact{
      flex: 1 0 100%;
      margin: 0;
      padding: 0;
    }
  }
}

@media screen and (min-width: 640px) {
  .menu{
    display: flex;
    justify-content: space-between;
  }
  .menu__toggler {
    display: none;
  }
  .menu__list{
    display: flex !important;
  }
 
}

@media  screen and (min-width: 1100px) {
  .menu{
  justify-content: center;
  gap:$spacer * 4;
  font-size: 20px;
  }
  
  .menu__list{
    gap:$spacer * 2;
  }

}

/* Hero */
.hero{
  width: 100%;
  height: 150px;
  min-width: 375px;
  background: url(/images/banner.jpg) no-repeat right center/cover;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;

  
  &__logo{
    fill: $dark;
    grid-column: 2;
    object-fit: cover;
  }

}

@media screen and (min-width: 640px){
  .hero{
    height: 250px;
  }
}

@media  screen and (min-width: 1100px) {
  .hero{
    height: 400px;
  }
}



/* Main */

.about__title{
  text-align: center;
  margin: $spacer * 4;
  &::after{
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    background-color: $contrast;
    margin-top: $spacer * 4;
    margin-right: auto;
    margin-left: auto;
  
  }
} 


.box{
  display:grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 75% 20% 10%;

  &__photo{
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    height: 100%;
    
  }
   &-profil{
    width:100%;
    height: 100%;
    object-fit: cover;
   }
  &__content{
    grid-column: 2;
    grid-row: 2;
    text-align: center;

  }
}


.button


/* Patička */
.footer {
  background-color: $text-logo;
  color:$background-logo;
  text-align: center;
}