html {
    box-sizing: border-box;
  }
  
  *, ::before, ::after {
    box-sizing: inherit;
  }
/* Sass proměnné */
$background-logo: #4d7a78;
$text-logo:#f5f5c6;
$dark: #3D301C;
$light: #E6BCCD;
$contrast: #DB93B0;
$white: #ffffff;

$spacer: 20px;

$fontmenu:'Kalam', cursive;
$fontbody:'Maven Pro', sans-serif;


/* Celý web */
body {
  font-family: $fontbody;
  margin: 0;
  font-size: 16px;
  }

p {
  margin: $spacer 0;
}

h2{
  margin: $spacer*2 0;
}

.wrapper {
 /*  min-width: 640px; */
  /* padding: $spacer; */
  margin: 0 auto;

  background-color: $white;
  color: $dark;
}


/* Hero */
.hero{
  width: 100%;
  height: 100%;
  background: url(/images/banner.jpg) no-repeat right center/cover;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;

  
  &__logo{
    fill: $dark;
    z-index: 2;
    grid-column: 2;
    justify-content: center;
    object-fit: cover;
  
  }

}

.hero__contactbox{
  grid-column: 3;
  display:flex;
  justify-content: space-evenly;

  &__icon{
    flex:1 1 auto;
  }
  &__contact{
    flex: 1 1 auto;
    margin: 0;
  }
}

/* Tlačítko */
.button{
  background-color: $background-logo;
  font-style: $fontbody;
  border: 2px solid $dark;
  border-radius: 5px;
  font-size: 1em;

  &__link{
  text-decoration: none;
  text-align: center;
  color: $light;
  padding: $spacer;
  }

}

/* Menu */
.menu{
  background-color: $contrast;
  


  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  &__item {
    margin: 0;
    padding: $spacer;
    display: block;

    flex: 1 1 auto;
    text-align: center;
  
    &:hover{
    text-decoration-line: underline;
    }
  }

  &__link {
    text-decoration: none;
    color: $dark;
    text-transform: uppercase;
    font-family: $fontmenu;
  }

}
/* Main */

.main{
  padding: $spacer*3;
}

.box__photo-main {
  width: 50%;
  
}


/* Patička */
.footer {
  background-color: $text-logo;
  color:$background-logo;
  text-align: center;
}

