html {
    box-sizing: border-box;
  }
  
  *, ::before, ::after {
    box-sizing: inherit;
  }
/* Sass proměnné */
$background-logo: #4d7a78;
$text-logo:#f5f5c6;
$dark: #56494C;
$light: #E6BCCD;
$contrast: #DB93B0;

$spacer: 20px;

$fontmenu:'Kalam', cursive;
$fontbody:'Maven Pro', sans-serif;


/* Celý web */
body {
  font-family: $fontbody;
  margin: 0;
  font-size: 16px;
  }

p {
  margin: $spacer 0;
}

h2{
  margin: $spacer*2 0;
}

.wrapper {
  max-width: 640px;
  padding: $spacer;
  margin: 0 auto;

  background-color: $light;
  color: $dark;
}


/* Banner */
.logobox__logo{
  fill: $text-logo;
  border: 2px solid black;
}

/* Tlačítko */
.button{
  background-color: $text-logo;
  color: $dark;
  border: 2px solid $dark;
  border-radius: 5px;

  &__link{
  text-decoration: none;
  text-align: center;
  }

}

/* Menu */
.menu{
  background-color: $contrast;
  


  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  &__item {
    margin: 0;
    padding: 0;
    flex: 1 1 auto;
    text-align: center;
  
    &:hover{
    text-decoration-line: underline;
    }
  }

  &__link {
    text-decoration: none;
    color: $dark;
    text-transform: uppercase;
    font-family: $fontmenu;
  }

}
/* Main */



/* Patička */
.footer {
  background-color: $text-logo;
  color:$background-logo;
  text-align: center;
}

