<!DOCTYPE html>
<html lang="cs">

{% include 'partials/head.njk' %}


    <body>
        
        <div class="wrapper">
            
            <header class="header">

                {% include 'partials/menu.njk' %}

                {% include 'partials/hero.njk' %}
                
            </header>

            <main class="main">


            {{ content | safe }}  


            </main>

            {% include 'partials/footer.njk' %}
        
        </div>

    </body>

</html>