<!DOCTYPE html>
<html lang="cs">

    {% include 'partials/head.njk' %}


    <body>
        
        <div class="wrapper">


            <!-- Header -->
            
            <header class="header">

                <!-- Menu -->
                {% include 'partials/menu.njk' %}

                <!-- Hero -->
                {% include 'partials/hero.njk' %}
                
            </header>

            <!-- Main -->

            <main class="main">


            {{ content | safe }}  


            </main>

            <!-- Footer -->
            {% include 'partials/footer.njk' %}
            

        </div>



    </body>



</html>